extends ./layout/layout

block content
  .container.mt-4
    .alert.alert-primary(role="alert")
      h4.alert-heading=question.title
      p=question.description
      if question.imageUrl 
        img(
          src="https://storage.googleapis.com/hapi-platzi-gus.appspot.com/"+question.imageUrl 
          width="300"
        )
      hr
      p.mb-0: small Created by 
        strong=question.owner.name
    if question.answers
      each ans, aKey in question.answers
        .alert(
          class= ans.correct ? 'alert-success':'alert-secondary' 
          role="alert"
        )
          p=ans.answer
          hr
          .container
            .row
              .col-sm: small Created by 
                strong=ans.user.name
              .col-sm.text-right
                -
                  let flag = false;
                  if(user){
                    flag = question.owner.email === user.email
                  }
                if flag && !ans.correct
                  a.btn.btn-success.btn-sm(href="/correct/"+key+"/"+aKey) Correct Answer
                else if ans.correct
                  h3: span.badge.badge-success This is the right one!! 😎 
    .card.mb-3
      if user
        .card-header
          h3 Answer this question
        .card-body
          .row
            .col
              form(
                method="POST"
                action="/answer"
              )
                .form-group
                  label(for="answer") Answer
                  textarea.form-control#answer(
                    name="answer"
                    required
                  )
                  input(type="hidden" name="id" value=key)
                
                .text-center.mt-5
                  input(type="hidden" name="crumb" value=crumb)
                  button.btn.btn-outline-primary.btn-block(type="submit") Send answer
      else 
        a.btn.btn-outline-primary(href="/login") Login to answer this question!

block footer
  include ./partials/footer
block scripts
  include ./partials/scripts
