extends ./layout/layout

block content
  .container.mt-4
    .card.mb-3
      .card-header
        h3 Signup here
    
      .card-body
      
        .row 
          .col
            if error 
              .alert.alert-danger(role="alert")= error
            form(
              method="POST"
              action="/signup"
            )
              +formGroup('name', 'text')(pattern='.{3,}')
              +formGroup('email', 'email')(pattern=emailPattern)
              +formGroup('password', 'password')(pattern='.{6,}')

              .text-center.mt-5
                input(type="hidden" name="crumb" value=crumb)
                button.btn.btn-primary.btn-block(type="submit") Create account

block footer
  include ./partials/footer
block scripts
  include ./partials/scripts
