mixin formGroup(field, type)
  .form-group
    label(for=field)= field
    input.form-control(
      required
      type=type
      name=field
      id=field
      pattern!=attributes.pattern
    )
mixin navLink(href, text)
  a.btn.btn-outline-light.mr-2.ml-2(
    href=href
    role="button" 
    aria-pressed="true"
  )= text